/* Changes svg of navbar menu */
#menu li a
{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}
#menu li a svg
{
   top: 30px;
   max-height: 35px;
}
/* Changing navbar size */
.header
{
   max-width: calc(var(--main-width) + var(--gap) * 2);
   margin: auto;
}


/* Changes svg of social icons */
.social-icons a
{
   padding-right: 0;
}
.social-icons a svg
{
   height: 36px;
   width: 36px;
}
.social-icons a:hover
{
   transition: 100ms;
   transform: translateY(-3px);
}


/* Change list svgs */
.post-entry
{
   padding-top: 20px;
}
.post-entry header h2
{
   justify-content: flex-start;
   align-items: center;
}
.post-entry header h2 svg
{
   width: 30px;
   margin-right: 15px;
   color: var(--primary);
}

.post-entry:hover, a:hover
{
   filter: brightness(0.98);
}

/* Share icons */
.post-footer
{
   display: flex;
   text-align: center;
   flex-direction: column;
   font-size: 16px;
}
.post-footer .share-buttons
{
   background-color: unset;
   border: none;
   padding: 0;
}
.post-footer hr
{
   border-width: 0;
   clear:both;
   display:block;
   width: 96%;               
   background-color: var(--border);
   height: 1px;
}
.share-buttons
{
   overflow: unset;
}
.share-buttons li:hover {
   transition: 100ms;
   transform: translateY(-3px);
 }

 /* Greater text movement and responsiveness */
 .header a:hover, #theme-toggle:hover
 {
   transition: 100ms;
   transform: translateY(-2px);
 }