{{- define "main" }}

{{- if (and site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>
    {{ .Title }}
    {{- if and (or (eq .Kind `term`) (eq .Kind `section`)) (.Param "ShowRssButtonInSectionTermList") }}
    {{- with .OutputFormats.Get "rss" }}
    <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" height="23">
        <path d="M4 11a9 9 0 0 1 9 9" />
        <path d="M4 4a16 16 0 0 1 16 16" />
        <circle cx="5" cy="19" r="1" />
      </svg>
    </a>
    {{- end }}
    {{- end }}
  </h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- if .Content }}
<div class="post-content">
  {{- if not (.Param "disableAnchoredHeadings") }}
  {{- partial "anchored_headings.html" .Content -}}
  {{- else }}{{ .Content }}{{ end }}
</div>
{{- end }}

{{- $pages := union .RegularPages .Sections }}


{{- $paginator := .Paginate $pages }}

{{- if and .IsHome site.Params.homeInfoParams (eq $paginator.PageNumber 1) }}
{{- partial "home_info.html" . }}
{{- end }}

{{- $term := .Data.Term }}


{{- range $index, $page := $paginator.Pages }}

{{- $class := "post-entry" }}

{{- $user_preferred := or site.Params.disableSpecial1stPost site.Params.homeInfoParams }}
{{- if (and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) (not $user_preferred)) }}
{{- $class = "first-entry" }}
{{- else if $term }}
{{- $class = "post-entry tag-entry" }}
{{- end }}

<!-- List of items -->
<article class="{{ $class }}">
  {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}
  
  <!-- List title -->
  <header class="entry-header">
    <h2 class="entry-hint-parent">
      <!-- Adding folder if directory, book if article -->
      {{ if .IsSection }}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
        <path d="M5 4h4l3 3h7a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-11a2 2 0 0 1 2 -2" />
      </svg>
      {{ else }}
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" stroke="none" stroke-width="2"
      stroke-linecap="round" stroke-linejoin="round">
      <g id="article">
        <g>
            <path d="M20.5,22L3.5,22C1.6,22 0,20.4 0,18.5L0,8.509C-0,7.844 0.264,7.206 0.735,6.735C1.206,6.264 1.844,6 2.509,6C3.756,6 5,6 5,6L5,4.48C5,3.11 6.111,2 7.48,2C10.955,2 17.264,2 20.999,2C22.656,2 24,3.344 24,5.001C24,9.759 24,18.5 24,18.5C24,20.4 22.4,22 20.5,22ZM6.7,20L20.5,20C21.3,20 22,19.3 22,18.5L22,5.001C22,4.735 21.895,4.481 21.707,4.293C21.519,4.105 21.265,4 20.999,4C18.277,4 10.761,4 8.019,4C7.456,4 7,4.456 7,5.019C7,8.318 7,18.5 7,18.5C7,19 6.9,19.5 6.7,20ZM2,8L2,18.5C2,19.3 2.7,20 3.5,20C4.3,20 5,19.3 5,18.5L5,8L2,8Z" style="fill-rule:nonzero;"/>
        </g>
        <g>
            <path d="M19.503,6C19.635,6 19.761,6.052 19.855,6.145C19.948,6.239 20,6.365 20,6.497C20,7.626 20,10.374 20,11.503C20,11.635 19.948,11.761 19.855,11.855C19.761,11.948 19.635,12 19.503,12C18.546,12 16.454,12 15.497,12C15.365,12 15.239,11.948 15.145,11.855C15.052,11.761 15,11.635 15,11.503C15,10.374 15,7.626 15,6.497C15,6.365 15.052,6.239 15.145,6.145C15.239,6.052 15.365,6 15.497,6C16.454,6 18.546,6 19.503,6ZM18.616,7.661L16.384,7.661L16.384,10.339L18.616,10.339L18.616,7.661Z"/>
        </g>
        <g>
            <rect x="9" y="6" width="4" height="2"/>
        </g>
        <g>
            <rect x="9" y="10" width="4" height="2"/>
        </g>
        <g>
            <rect x="9" y="14" width="11" height="2"/>
        </g>
    </g>
      </svg>
      
      {{- end -}}


      {{- .Title }}
      {{- if .Draft }}
      <span class="entry-hint" title="Draft">
        <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" fill="currentColor">
          <path
            d="M160-410v-60h300v60H160Zm0-165v-60h470v60H160Zm0-165v-60h470v60H160Zm360 580v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T862.09-380L643-160H520Zm300-263-37-37 37 37ZM580-220h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z" />
        </svg>
      </span>
      {{- end }}
    </h2>
  </header>
  {{ if not .IsSection }}

  {{- if (ne (.Param "hideSummary") true) }}
  <div class="entry-content">
    <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <footer class="entry-footer">
    {{- partial "post_meta.html" . -}}
  </footer>
  {{- end }}
  {{ end }}
  <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
</article>
{{- end }}


{{- if gt $paginator.TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if $paginator.HasPrev }}
    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">
      «&nbsp;{{ i18n "prev_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
      {{- end }}
    </a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a class="next" href="{{ $paginator.Next.URL | absURL }}">
      {{- i18n "next_page" }}&nbsp;
      {{- if (.Param "ShowPageNums") }}
      {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
      {{- end }}&nbsp;»
    </a>
    {{- end }}
  </nav>
</footer>
{{- end }}

{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
